body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
 }

 img {
    display: block;
 }

 .header  {
    border-bottom: 1px solid #e7e9fc;
   
 }

 .header .container {
     
    display: flex;
    align-items: center;
 }

 .header-nav {
     display: flex;
     align-items: center;
 }

.header-nav-list {

    display: flex;
    align-items: center;
    gap: 40px;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}

.logo .logo-part {
    color: #2e2f42;
}

.nav-links {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
    display: block;
    padding: 24px 0;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.header-contacts-list {
   
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-links {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

.nav-links:hover,
.nav-links:focus,
.contacts-links:hover,
.contacts-links:focus {
    color: #404bbf;
}

/*< !--1 hero-section-->*/

.hero-section {
    background-color: #2e2f42;
    padding: 188px 0px;
    background-image:linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7),
    url(C:/OLEKSANDRA/STUDY/goit-hw/goit-markup-hw-04/images/hero-image.jpg));
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.hero-section-title {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.hero-section-button {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
}

.hero-section-button:hover {
    background-color: #404bbf;
}

.hero-section-button:focus {
    background-color: #404BBF;
}

/*< !--end of 1 hero-section-->*/

/*< !--2 section-peculiarities-->*/

.section-peculiarities {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.peculiarities-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.section-peculiarities-list {
    display: flex;
    gap: 24px;
}

.section-peculiarities-title {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-peculiarities-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*< !--end of 2 section-peculiarities-->*/

/*< !--3 section-team-->*/

.section-team {

    background-color: #F4F4FD;
    padding: 120px 0;
    display: flex;
  
}

.section-team-main-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.section-team-list {

    display: flex;
    /*border-radius: 0px 0px 4px 4px;*/
    gap: 24px;

}

.section-team-list-item {

    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
   
}

.section-team-person {
  
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 32px 0;
   
   
}

/*.section-team-list-item {

    flex-wrap: wrap;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
}*/

.section-team-title {

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
    margin-bottom: 8px;
}

.section-team-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;

}

/*<!--end of 3 section-team-->*/

/*<!--4 section-portfolio-->*/

.section-portfolio {

    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio-list {

    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.section-portfolio-main-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.section-portfolio-list-item {

    width: calc((100% - 48px) / 3);
}

.section-portfolio-list-item {

    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    background-color: white;
}

.portfolio-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.section-portfolio-title {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px; 
}

.section-portfolio-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*<!--end of 4 section-portfolio-->*/

.section-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.section-footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 16px;
}
.section-footer-logo-part {
    color: #f4f4fd;
}

.section-footer-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}